{
  "env": {
    "es6": true,
    "node": true,
    "jest": true,
    "mocha": true
  },
  "extends": [
    "eslint:recommended"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 10
  },
  "rules": {
    "indent": [
      "error",
            2,
            {
              "VariableDeclarator": {
                "var": 2, "let": 2, "const": 3
              },
              "SwitchCase": 1
            }
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "never"
    ],
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "no-console": 0,
    "object-curly-spacing": [
      "error",
      "always"
    ],
    "space-in-parens": [
      "error",
      "never"
    ],
    "array-bracket-spacing": [
      "error",
      "never"
    ],
    "no-trailing-spaces": "error",
    "no-multi-spaces": "error",
    "key-spacing": "error"
  }
}